.graph {
    width: calc(75vw);
    float: right;
    padding: 10px;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.graphhorizontal {
    width: calc(75vw);
    float: right;
    padding: 10px;
    right: 0;
    height:100vh;

}

.sidebar {
    color: white;
    background: rgba(52, 73, 94, 0.9);
    width: calc(25vw);
    height: calc(100vh);
    position: fixed;
    left: 0;
    float: left;

    padding-top: 40px;
    padding-right: 10px;

    box-shadow: inset 1px 1px 3px #999;
}

.inline {
    display: inline-block;
}

